* 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro
{
    background: black;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    z-index: 2000;
}

.slider
{
    background: rgb(163,193,207);
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    transform: translateY(100%);
    z-index:2000;

}

.intro-text{
    color: rgb(233,233,240);
    font-size: 3rem;
}


.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

